<?php

class BaseDatos{
    private $host;
    private $db;
    private $usuario;
    private $contrasena;
    private $caracteres;
    private $conexion;

    public function __construct(){
        $this -> host = 'localhost';
        $this -> db = 'sigresdesarrollo';
        $this -> usuario = 'root';
        $this -> contrasena = '';
        $this -> caracteres = 'utf8';
    }

    function conectar(){
        try {
            $this->conexion = "mysql:host=".$this -> host.";dbname=".$this -> db.";charset=".$this -> caracteres;
            $opciones = [
                PDO::ATTR_ERRMODE => PDO::ERRMODE_EXCEPTION,
                PDO::ATTR_EMULATE_PREPARES => false,

            ];
            $pdo = new PDO($this->conexion, $this -> usuario, $this -> contrasena, $opciones);
            return $pdo;
        } catch (PDOException $e) {
            print_r('Error con la conexión: '.$e -> getMessage());
        }
    }

    function desconectar(){
        $this->conexion = null;
    }
    
}